# Dependencies
node_modules/

# Environment variables
.env
config/user_config.json

# Log files
logs
*.log
npm-debug.log*

# System files
.DS_Store
Thumbs.db

# Editor-specific files
.vscode/

# Memories used for testing
memory/